<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error - MediCore</title>
</head>
<body>
    <hgroup>
        <h1>Ocurrió un error.</h1>
        <h2>Se produjo un error al procesar tu solicitud. Inténtalo de nuevo más tarde.</h2>
    </hgroup>
</body>
</html>
